*{
    margin:0;
    padding:0;
}

.cabecalho{
    background-color:rgb(224, 72, 161);
    color:#93e5f0;
    display:flex;
    justify-content:space-around;
}

.cabecalhoImagem{
    Width:20%;
}
.cabecalhoListaItem{
    display: inline-block;
    margin:0 16px;
    padding:24px 0;
}