*{
    margin:0;
    padding:0;
}

.cabecalho{
    background-color:#ff7ff9;
    color:#FFFFFF;
    display:flex;
    justify-content:space-around;
    padding:2px 0;
    font-size: 18px;
}

.cabecalhoImagem{
    Width: 8%;
}
.cabecalhoListaItem{
    display: inline-block;
    margin:0 20px;
    padding:24px 0;
}
.sobreImagem{
     Width:60%
}
.sobre{
    background-image:linear-gradient(#FA3EC6, #4EBFE9);
    color:#ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
}

.sobreConteudo{
    Width:40%;
    padding: 0 150px 15em 0;
}

.letraParagrafo{
    font-size: 26px;
}
.membroImagem{
    width: 240px;
}
.membroIcone{
    Width:40px;
}
.membroDiv{
    text-align:center;
    padding-bottom: 75%;
}
.membrosTitulo{
    text-align:center;
    padding:50px ;
}
.membrosTodos{
    display:grid;
    grid-template-columns:10% 20% 20% 20% 20%;
}

.rodape{
    width: 100vw;
    background-color:#FA3EC6;
    display: flex;
    padding:15px 0;
    text-align: center;
}

.instaRodape{
    width:10%;
}